<div id="headerbg">
<h1><center> Greatest Hits</h1>
<div id="container">
<div class="left">

<% vote = Quote.read.order("vote_count desc").each do |q| %>

<p>
   <b> <h5> <%= q.vote_count %>  </b> </h>
 <%= link_to "Vote for this app", "/vote", "method" => "patch" %>
   <span class="glyphicon glyphicon-arrow-up"> </span>
      <%= q.quote %>
</p>

<% end %>
</style>
</div>

<%# quote = params["quote"] %>
<%# vote_count = params["vote_count"] %>
